[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

pandas = "*"
numpy = "*"
shapely = "*"
fiona = "*"
six = "*"
cython = "*"
"nose2" = "*"
"cov-core" = "*"
coverage = "*"
geopandas = "*"



[dev-packages]

[requires]
python_version = "3.5.2"